<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Anschaffungsvorschlag</title>
    <style>
        table, th, td {
            text-align: left;
            font-weight: normal;
        }
        .caption {
            font-weight: bold;
        }
        .text {
            color: black;
        }
        .title{
            color: #004c93
        }
    </style>
</head>
<body>
<th:block th:switch="${mailType}">
    <h1 class="title" th:case="user">
        Anschaffungsvorschlag eines Studierenden/Externen
    </h1>
    <h1 class="title" th:case="lecturer">
        Anschaffungsvorschlag eines Lehrenden
    </h1>
    <h1 class="title" th:case="*">
        Anschaffungsvorschlag
    </h1>
</th:block>
<p class="text">Es gibt einen neuen Anschaffungsvorschlag</p>
<table>
    <tr>
        <th class="caption">Titel</th>
        <th><span th:text="${title}"></span></th>
    </tr>
    <tr>
        <th class="caption">Verfasser/Hrsg.</th>
        <th> <span th:text="${contributor}"></span></th>
    </tr>
    <tr>
        <th class="caption">Auflage</th>
        <th><span th:text="${edition}"></span></th>
    </tr>
    <tr>
        <th class="caption">Verlag</th>
        <th><span th:text="${publisher}"></span></th>
    </tr>
    <tr>
        <th class="caption">Erscheinungsjahr</th>
        <th><span th:text="${year}"></span></th>
    </tr>
    <tr>
        <th class="caption">ISBN</th>
        <th><span th:text="${isbn}"></span></th>
    </tr>
    <tr>
        <th class="caption">Preis</th>
        <th><span th:text="${price}"></span></th>
    </tr>
    <tr>
        <th class="caption">Fachrichtung</th>
        <th><span th:text="${subjectarea}"></span></th>
    </tr>
    <tr th:if="${mailType} eq 'user'">
        <th class="caption">Woher stammt Ihre Literaturangabe?</th>
        <th><span th:text="${source}"></span></th>
    </tr>
    <tr>
        <th class="caption">Bemerkung</th>
        <th><span th:text="${comment}"></span></th>
    </tr>
    <tr>
        <th class="caption">Name</th>
        <th><span th:text="${name}"></span></th>
    </tr>
    <tr>
        <th class="caption">Benutzernummer</th>
        <th><span th:text="${libraryaccountNumber}"></span></th>
    </tr>
    <tr>
        <th class="caption">E-Mail-Adresse</th>
        <th><span th:text="${emailAddress}"></span></th>
    </tr>
    <tr th:if="${mailType} eq 'user'">
        <th class="caption">Benachrichtigung über die Kaufentscheidung</th>
        <th><span th:text="${response}"></span></th>
    </tr>
    <tr th:if="${mailType} eq 'lecturer'">
        <th class="caption">Keine Vormerkung, direkt in den Bestand</th>
        <th><span th:text="${directToStock}"></span></th>
    </tr>
    <tr th:if="${mailType} eq 'lecturer'">
        <th class="caption">Exemplare </th>
        <th><span th:text="${number}"></span></th>
    </tr>
    <tr th:if="${mailType} eq 'lecturer'">
        <th class="caption">Vormerkung für den persönlischen Bibliotheksausweis</th>
        <th><span th:text="${personalAccount}"></span></th>
    </tr>
    <tr th:if="${mailType} eq 'lecturer'">
        <th class="caption">Vormerkung für Handapparat</th>
        <th><span th:text="${happAccount}"></span></th>
    </tr>
    <tr th:if="${mailType} eq 'lecturer'">
        <th class="caption">Vormerkung für Semesterapparat</th>
        <th><span th:text="${semAppAccount}"></span></th>
    </tr>
    <tr th:if="${mailType} eq 'lecturer'">
        <th class="caption">Ausweis- oder Semesterapparatsnummer</th>
        <th><span th:text="${semAppNumber}"></span></th>
    </tr>
</table>

<p>
    <a th:href="@{'mailto:'+${emailAddress}+'?subject=Ihr%20Anschaffungsvorschlag&body=Sehr%20geehrte(r)%20Herr/Frau%20'+${name}+'%2C%0A%0Avielen%20Dank%20f%C3%BCr%20Ihren%20Anschaffungsvorschlag.%0AIch%20freue%20mich%2C%20Ihnen%20mitteilen%20zu%20k%C3%B6nnen%2C%20dass%20der%20Titel%0A%22'+${title}+'%22%0Abestellt%20worden%20ist.%20Wenn%20Sie%20im%20Anschaffungsformular%20die%20Option%20%E2%80%9EVormerkung%E2%80%9C%20ausgew%C3%A4hlt%20haben%2C%20erhalten%20Sie%20eine%20Benachrichtigung%20per%20E-Mail%2C%20sobald%20Sie%20das%20Buch%20abholen%20k%C3%B6nnen.%20%0A%0AMit%20freundlichen%20Gr%C3%BC%C3%9Fen'}">Anschaffung bestätigen</a>
</p>
<p>
    <a th:href="@{'mailto:'+${emailAddress}+'?subject=Ihr%20Anschaffungsvorschlag&body=Sehr%20geehrte(r)%20Herr/Frau%20'+${name} + '%2C%0A%0Avielen%20Dank%20f%C3%BCr%20Ihren%20Anschaffungsvorschlag%2C%20den%20ich%20leider%20ablehnen%20muss.%0ADer%20Titel%0A%22'+${title}+'%22%0Aentspricht%20nicht%20unserem%20Anschaffungsprofil%20und%20kann%20deshalb%20nicht%20von%20uns%20bestellt%20werden.%0AF%C3%BCr%20Fragen%20stehe%20ich%20Ihnen%20gerne%20zur%20Verf%C3%BCgung.%20%0A%0AMit%20freundlichen%20Gr%C3%BC%C3%9Fen'}">Anschaffung ablehnen</a>
</p>

<p>
    Der Titel konnte nicht in ELi:SA eingetragen werden. Ursache:
</p>
<p><span th:text="${reason}"></span></p>

</body>
</html>