<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>neuer Anschaffungsvorschlag in ELi:SA.</title>
    <style>
        .text {
            color: black;
        }
        .title{
            color: #004c93
        }
    </style>
</head>
<body>
<h1 class="title">Neuer Anschaffungsvorschlag</h1>
<p>Hallo <span th:text="${name}"></span></p>
<p class="text">Ein neuer Anschaffungsvorschlag wurde in ELi:SA. hinterlegt.</p>

<a href="https://elisa.hbz-nrw.de/notepads"><strong>Hier</strong></a> geht es direkt zu den ELi:SA-Merklisten.
<p>Viele Grüße,</p>
<p>Der Fachref-Assistent</p>
</body>
</html>